.Accordion {
	display: flex;
	flex-direction: column;
	color: var(--color-on-surface);
	border-radius: var(--radius-sm);
	overflow: visible;
	border: 1px solid var(--color-outline);
	background-color: var(--color-surface);
	--accordion-animation-duration: 150ms;
}

.Accordion_Item {
	border-bottom: none;
	&:not(:last-child) {
		border-bottom: 1px solid var(--color-outline);
	}

	&:first-child {
		> .Accordion_Trigger {
			border-radius: var(--radius-sm) var(--radius-sm) 0 0;
		}
	}

	&:last-child {
		&[data-state='closed'] > .Accordion_Trigger {
			border-radius: 0 0 var(--radius-sm) var(--radius-sm);
		}
	}
}

.Accordion_Trigger {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 10px;
	cursor: pointer;

	&:hover {
		background-color: var(--color-surface-hover);
	}

	&:active {
		background-color: var(--color-surface-active);
	}

	&:focus-visible {
		outline: 2px solid var(--color-primary);
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
		filter: grayscale(100%);
	}
}

.Accordion_ItemIndicator {
	margin-left: auto;

	transition: transform var(--accordion-animation-duration) ease-in-out;

	svg {
		width: var(--icon-size-sm);
		height: var(--icon-size-sm);
	}

	&[data-state='open'] {
		transform: rotate(180deg);
	}
}

.Accordion_Content {
	padding: 10px;
	overflow: hidden;

	&[data-state='open'] {
		&[data-orientation='vertical'] {
			animation:
				expand-height var(--accordion-animation-duration) ease-out,
				fade-in var(--accordion-animation-duration) ease-out;
			will-change: height;
		}
		&[data-orientation='horizontal'] {
			animation:
				expand-width var(--accordion-animation-duration) ease-out,
				fade-in var(--accordion-animation-duration) ease-out;
			will-change: width;
		}
	}

	&[data-state='closed'] {
		&[data-orientation='vertical'] {
			animation:
				collapse-height var(--accordion-animation-duration) ease-in-out,
				fade-out var(--accordion-animation-duration) ease-in-out;
			will-change: height;
		}

		&[data-orientation='horizontal'] {
			animation:
				collapse-width var(--accordion-animation-duration) ease-in-out,
				fade-out var(--accordion-animation-duration) ease-in-out;
			will-change: width;
		}
	}

	&[data-animate='false'] {
		animation: none;
	}
}

@keyframes expand-height {
	from {
		height: 0;
	}
	to {
		height: var(--height);
	}
}

@keyframes expand-width {
	from {
		width: 0;
	}
	to {
		width: var(--width);
	}
}

@keyframes collapse-width {
	from {
		width: var(--width);
	}
	to {
		width: 0;
	}
}
@keyframes collapse-height {
	from {
		height: var(--height);
	}
	to {
		height: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
