.Button {
	--button-xs-height: 28px;
	--button-xs-padding-block: 4px;
	--button-xs-padding-inline: 8px;

	--button-sm-height: 32px;
	--button-sm-padding-block: 6px;
	--button-sm-padding-inline: 10px;

	--button-md-height: 40px;
	--button-md-padding-block: 8px;
	--button-md-padding-inline: 12px;

	--button-lg-height: 48px;
	--button-lg-padding-block: 10px;
	--button-lg-padding-inline: 16px;
}

.Button {
	cursor: pointer;
	border-radius: var(--radius-xs);
	border: 1px solid var(--color-outline);
	font-weight: 400;
	outline: none;
	transition:
		color,
		background-color,
		border-color 0.1s ease;

	&:focus-visible {
		outline: 2px solid var(--color-primary-container-pressed);
		outline-offset: 2px;
	}
}

.Button {
	/* Button size */
	&[data-size='xs'] {
		padding-inline: var(--button-xs-padding-inline);
		padding-block: var(--button-xs-padding-block);
		font-size: var(--text-xs);
		line-height: var(--line-height-xs);
	}
	&[data-size='sm'] {
		padding-inline: var(--button-sm-padding-inline);
		padding-block: var(--button-sm-padding-block);
		font-size: var(--text-sm);
		line-height: var(--line-height-sm);
	}
	&[data-size='md'] {
		padding-inline: var(--button-md-padding-inline);
		padding-block: var(--button-md-padding-block);
		font-size: var(--text-md);
		line-height: var(--line-height-md);
	}
	&[data-size='lg'] {
		padding-inline: var(--button-lg-padding-inline);
		padding-block: var(--button-lg-padding-block);
		font-size: var(--text-lg);
		line-height: var(--line-height-lg);
	}
}

.Button {
	/* Button variant */
	&[data-variant='contained'] {
		&[data-color='default'] {
			border-color: var(--color-outline);
			background-color: var(--color-on-surface);
			color: var(--color-surface);

			&:hover {
				background-color: var(--color-default-hover);
			}

			&:active {
				background-color: var(--color-default-pressed);
			}
		}

		&[data-color='primary'] {
			border-color: var(--color-primary);
			background-color: var(--color-primary);
			color: var(--color-on-primary);

			&:hover {
				background-color: var(--color-primary-hover);
			}

			&:active {
				background-color: var(--color-primary-pressed);
			}
		}

		&[data-color='secondary'] {
			border-color: var(--color-secondary);
			background-color: var(--color-secondary);
			color: var(--color-on-secondary);

			&:hover {
				background-color: var(--color-secondary-hover);
			}

			&:active {
				background-color: var(--color-secondary-pressed);
			}
		}

		&[data-color='success'] {
			border-color: var(--color-success);
			background-color: var(--color-success);
			color: var(--color-on-success);

			&:hover {
				background-color: var(--color-success-hover);
			}

			&:active {
				background-color: var(--color-success-pressed);
			}
		}

		&[data-color='warning'] {
			border-color: var(--color-warning);
			background-color: var(--color-warning);
			color: var(--color-on-warning);

			&:hover {
				background-color: var(--color-warning-hover);
			}

			&:active {
				background-color: var(--color-warning-pressed);
			}
		}

		&[data-color='error'] {
			border-color: var(--color-error);
			background-color: var(--color-error);
			color: var(--color-on-error);

			&:hover {
				background-color: var(--color-error-hover);
			}

			&:active {
				background-color: var(--color-error-pressed);
			}
		}
	}

	&[data-variant='outlined'] {
		background-color: var(--color-surface);

		&[data-color='default'] {
			border-color: var(--color-outline);
			color: var(--color-on-surface);

			&:hover {
				background-color: var(--color-outline-hover);
			}

			&:active {
				background-color: var(--color-outline-pressed);
			}
		}

		&[data-color='primary'] {
			border-color: var(--color-primary);
			color: var(--color-primary);

			&:hover {
				color: var(--color-primary-hover);
				background-color: var(--color-primary-container);
			}

			&:active {
				background-color: var(--color-primary-container-pressed);
			}
		}

		&[data-color='secondary'] {
			border-color: var(--color-secondary);
			color: var(--color-secondary);

			&:hover {
				color: var(--color-secondary-hover);
				background-color: var(--color-secondary-container);
			}

			&:active {
				background-color: var(--color-secondary-container-pressed);
			}
		}

		&[data-color='success'] {
			border-color: var(--color-success);
			color: var(--color-success);

			&:hover {
				color: var(--color-success-hover);
				background-color: var(--color-success-container);
			}

			&:active {
				background-color: var(--color-success-container-pressed);
			}
		}

		&[data-color='warning'] {
			border-color: var(--color-warning);
			color: var(--color-warning);

			&:hover {
				color: var(--color-warning-hover);
				background-color: var(--color-warning-container);
			}

			&:active {
				background-color: var(--color-warning-container-pressed);
			}
		}

		&[data-color='error'] {
			border-color: var(--color-error);
			color: var(--color-error);

			&:hover {
				color: var(--color-error-hover);
				background-color: var(--color-error-container);
			}

			&:active {
				background-color: var(--color-error-container-pressed);
			}
		}
	}

	&[data-variant='text'] {
		border-color: transparent;
		background-color: transparent;

		&[data-color='default'] {
			color: var(--color-on-surface);

			&:hover {
				background-color: var(--color-outline-hover);
			}

			&:active {
				background-color: var(--color-outline-pressed);
			}
		}

		&[data-color='primary'] {
			color: var(--color-primary);

			&:hover {
				background-color: var(--color-primary-container-hover);
			}

			&:active {
				background-color: var(--color-primary-container-pressed);
			}
		}

		&[data-color='secondary'] {
			color: var(--color-secondary);

			&:hover {
				background-color: var(--color-secondary-container-hover);
			}

			&:active {
				background-color: var(--color-secondary-container-pressed);
			}
		}
		&[data-color='success'] {
			color: var(--color-success);

			&:hover {
				background-color: var(--color-success-container-hover);
			}

			&:active {
				background-color: var(--color-success-container-pressed);
			}
		}
		&[data-color='warning'] {
			color: var(--color-warning);

			&:hover {
				background-color: var(--color-warning-container-hover);
			}

			&:active {
				background-color: var(--color-warning-container-pressed);
			}
		}
		&[data-color='error'] {
			color: var(--color-error);

			&:hover {
				background-color: var(--color-error-container-hover);
			}

			&:active {
				background-color: var(--color-error-container-pressed);
			}
		}
	}

	&:disabled {
		cursor: not-allowed;
		pointer-events: none;
		opacity: 0.7;
		user-select: none;
		filter: grayscale(100%);
	}
}
