.DatePicker {
	.BaseField_Field {
		&:is(:focus-within, [data-state='open']) {
			border: 1px solid var(--color-primary);
			outline: 1px solid var(--color-primary);
		}
	}

	.BaseField_Trailing {
		margin-left: auto;
		margin-right: calc(var(--field-padding-inline) / 2);
	}
}

.DateRangePicker_Input {
	width: 100%;
	display: flex;
	height: var(--field-height);
	padding-inline: var(--field-padding-inline);
	padding-block: var(--field-padding-block);
	align-items: center;

	> .DateRangePicker_DisplayArea {
		display: flex;
		width: 100%;
		gap: 4px;

		> span {
			width: max-content;
			&[data-greyout='true'] {
				color: var(--color-outline);
			}
		}
	}
}
