.DatePicker {
	&:is([data-state='open']) {
		> .BaseField_Field {
			border-color: var(--color-focused);
			outline: 1px solid var(--color-focused);
		}
	}
}

.DatePicker_Control[data-placeholder-shown] {
	color: var(--color-outline);
}

.DatePicker_InputField {
	display: flex;
	align-items: center;
	flex-grow: 1;
	border: none;
	font-size: var(--field-font-size);
	color: var(--color-on-background);
	padding-inline: var(--field-padding-inline);
	padding-block: var(--field-padding-block);
	background: transparent;
	caret-color: transparent;
	outline: none;
}

.DatePicker_Trailing {
	margin-right: calc(var(--field-padding-inline) / 2);
}

.DatePicker_DisplayArea {
	&[data-greyout='true'] {
		color: var(--color-outline);
	}
}
