.IconButton {
	--icon-button-size-sm: 28px;
	--icon-button-size-md: 36px;
	--icon-button-size-lg: 44px;
}

.IconButton.Button {
	padding: 0;
	border-radius: var(--radius-full);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1;

	&[data-shape='square'] {
		border-radius: var(--radius-sm);
	}

	&[data-shape='circle'] {
		border-radius: var(--radius-full);
	}

	/* Size map */

	&[data-size='xs'] {
		width: var(--icon-button-size-xs);
		height: var(--icon-button-size-xs);

		& svg {
			width: var(--icon-size-xs);
			height: var(--icon-size-xs);
		}
	}

	&[data-size='sm'] {
		width: var(--icon-button-size-sm);
		height: var(--icon-button-size-sm);

		& svg {
			width: var(--icon-size-sm);
			height: var(--icon-size-sm);
		}
	}

	&[data-size='md'] {
		width: var(--icon-button-size-md);
		height: var(--icon-button-size-md);

		& svg {
			width: var(--icon-size-md);
			height: var(--icon-size-md);
		}
	}

	&[data-size='lg'] {
		width: var(--icon-button-size-lg);
		height: var(--icon-button-size-lg);

		& svg {
			width: var(--icon-size-lg);
			height: var(--icon-size-lg);
		}
	}
}
