.NumberInput {
	> .BaseField_Field {
		padding: 0;

		> .NumberInput_Input {
			border: none;
			outline: none;
			align-self: stretch;
			padding-inline: var(--field-padding-inline);
			padding-block: var(--field-padding-block);
		}
	}
}

.NumberInput_Triggers {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	align-self: stretch;

	> :is(.NumberInput_IncrementTrigger, .NumberInput_DecrementTrigger) {
		flex: 1;
		color: var(--color-secondary);

		> svg {
			width: var(--field-font-size);
			height: var(--field-font-size);
		}

		&:disabled {
			cursor: not-allowed;
			color: var(--color-text-disabled);
		}

		&:hover {
			background-color: var(--color-secondary-container-hover);
		}

		&:active {
			background-color: var(--color-secondary-container-pressed);
		}
	}
}
