.PasswordInput_Input {
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	padding-inline: var(--field-padding-inline);
	padding-block: var(--field-padding-block);
	background: transparent;
	text-align: left;
	align-items: center;
}

.PasswordInput_ToggleTrigger {
	margin-right: calc(var(--field-padding-inline) / 2);
}
