.ScrollArea {
	position: relative;
	overflow: hidden;
}
.ScrollArea_Viewport {
	width: 100%;
	height: 100%;

	&[data-scope='scroll-area'][data-part='viewport'] {
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
.ScrollArea_Scrollbar {
	touch-action: none;
	background-color: var(--scrollbar-bg-color);
	opacity: 0.85;
	user-select: none;
	display: flex;
}

.ScrollArea_Scrollbar[data-overflow-x=''] {
	&[data-orientation='horizontal'] {
		height: var(--scrollbar-size);
	}

	&[data-orientation='horizontal']:hover {
		height: var(--scrollbar-hovered-size);
	}
}

.ScrollArea_Scrollbar[data-overflow-y=''] {
	&[data-orientation='vertical'] {
		width: var(--scrollbar-size);
		flex-direction: column;
	}

	&[data-orientation='vertical']:hover {
		width: var(--scrollbar-hovered-size);
	}
}

.ScrollArea_Thumb {
	border-radius: var(--scrollbar-thumb-radius);
	background-color: var(--color-on-surface-variant);
}
