:root {
	--radius-xs: 2px;
	--radius-sm: 4px;
	--radius-md: 6px;
	--radius-lg: 8px;
	--radius-full: 9999px;

	--text-xs: 0.75rem;
	----text-xs--line-height: calc(1 / 0.75);
	--text-sm: 0.875rem;
	----text-sm--line-height: calc(1.25 / 0.875);
	--text-base: 1rem;
	----text-base--line-height: calc(1.5 / 1);
	--text-lg: 1.25rem;
	----text-lg--line-height: calc(2 / 1.25);
	--text-xl: 1.5rem;
	----text-xl--line-height: calc(2.25 / 1.5);

	--icon-size-xs: 0.75rem;
	--icon-size-sm: 1rem;
	--icon-size-md: 1.25rem;
	--icon-size-lg: 1.5rem;

	--menu-border-radius: var(--radius-xs);
	--menu-item-block-padding: 12px;
	--menu-item-inline-padding: 12px;
	--menu-popup-z-index: 10000;

	--shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	--shadow: var(--shadow-md);

	--scrollbar-size: 8px;
	--scrollbar-hovered-size: 10px;
	--scrollbar-thumb-radius: 4px;

	/* Light Theme Colors (Seed: #1565c0) */
	--color-primary: rgb(21 101 192);
	--color-on-primary: rgb(255 255 255);
	--color-on-primary-container: rgb(0, 27, 61);
	--color-primary-container: rgb(214 227 255);
	--color-primary-pressed: color-mix(in srgb, var(--color-primary), var(--color-on-primary) 12%);
	--color-primary-hover: color-mix(in srgb, var(--color-primary), var(--color-on-primary) 8%);
	--color-primary-focus: color-mix(in srgb, var(--color-primary), var(--color-on-primary) 12%);
	--color-primary-container-pressed: color-mix(
		in srgb,
		var(--color-primary-container),
		var(--color-on-primary-container) 12%
	);
	--color-primary-container-hover: color-mix(
		in srgb,
		var(--color-primary-container),
		var(--color-on-primary-container) 8%
	);
	--color-primary-container-focus: color-mix(
		in srgb,
		var(--color-primary-container),
		var(--color-on-primary-container) 12%
	);

	--color-secondary: rgb(86 94 113);
	--color-on-secondary: rgb(255 255 255);
	--color-on-secondary-container: rgb(19 27 44);
	--color-secondary-container: rgb(218 226 249);
	--color-secondary-pressed: color-mix(
		in srgb,
		var(--color-secondary),
		var(--color-on-secondary) 12%
	);
	--color-secondary-hover: color-mix(in srgb, var(--color-secondary), var(--color-on-secondary) 8%);
	--color-secondary-focus: color-mix(
		in srgb,
		var(--color-secondary),
		var(--color-on-secondary) 12%
	);
	--color-secondary-container-pressed: color-mix(
		in srgb,
		var(--color-secondary-container),
		var(--color-on-secondary-container) 12%
	);
	--color-secondary-container-hover: color-mix(
		in srgb,
		var(--color-secondary-container),
		var(--color-on-secondary-container) 8%
	);
	--color-secondary-container-focus: color-mix(
		in srgb,
		var(--color-secondary-container),
		var(--color-on-secondary-container) 12%
	);

	--color-secondary-outlined: rgb(86 94 113);
	--color-secondary-outlined-pressed: color-mix(
		in srgb,
		var(--color-secondary-container),
		var(--color-secondary) 12%
	);
	--color-secondary-outlined-hover: color-mix(
		in srgb,
		var(--color-secondary-container),
		var(--color-secondary) 8%
	);
	--color-secondary-outlined-focus: color-mix(
		in srgb,
		var(--color-secondary-container),
		var(--color-secondary) 12%
	);

	--color-tertiary: rgb(112 85 116);
	--color-on-tertiary: rgb(255 255 255);
	--color-on-tertiary-container: rgb(41 19 46);
	--color-tertiary-container: rgb(250 216 252);
	--color-tertiary-pressed: color-mix(in srgb, var(--color-tertiary), var(--color-on-tertiary) 12%);
	--color-tertiary-hover: color-mix(in srgb, var(--color-tertiary), var(--color-on-tertiary) 8%);
	--color-tertiary-focus: color-mix(in srgb, var(--color-tertiary), var(--color-on-tertiary) 12%);
	--color-tertiary-container-pressed: color-mix(
		in srgb,
		var(--color-tertiary-container),
		var(--color-on-tertiary-container) 12%
	);
	--color-tertiary-container-hover: color-mix(
		in srgb,
		var(--color-tertiary-container),
		var(--color-on-tertiary-container) 8%
	);
	--color-tertiary-container-focus: color-mix(
		in srgb,
		var(--color-tertiary-container),
		var(--color-on-tertiary-container) 12%
	);

	--color-tertiary-outlined: rgb(112 85 116);
	--color-tertiary-outlined-pressed: color-mix(
		in srgb,
		var(--color-tertiary-container),
		var(--color-tertiary) 12%
	);
	--color-tertiary-outlined-hover: color-mix(
		in srgb,
		var(--color-tertiary-container),
		var(--color-tertiary) 8%
	);
	--color-tertiary-outlined-focus: color-mix(
		in srgb,
		var(--color-tertiary-container),
		var(--color-tertiary) 12%
	);

	--color-error: rgb(186 26 26);
	--color-on-error: rgb(255 255 255);
	--color-on-error-container: rgb(65 0 2);
	--color-error-container: rgb(255 218 214);
	--color-error-pressed: color-mix(in srgb, var(--color-error), var(--color-on-error) 12%);
	--color-error-hover: color-mix(in srgb, var(--color-error), var(--color-on-error) 8%);
	--color-error-focus: color-mix(in srgb, var(--color-error), var(--color-on-error) 12%);
	--color-error-container-pressed: color-mix(
		in srgb,
		var(--color-error-container),
		var(--color-on-error-container) 12%
	);
	--color-error-container-hover: color-mix(
		in srgb,
		var(--color-error-container),
		var(--color-on-error-container) 8%
	);
	--color-error-container-focus: color-mix(
		in srgb,
		var(--color-error-container),
		var(--color-on-error-container) 12%
	);

	--color-error-outlined: rgb(186 26 26);
	--color-error-outlined-pressed: color-mix(
		in srgb,
		var(--color-error-container),
		var(--color-error) 12%
	);
	--color-error-outlined-hover: color-mix(
		in srgb,
		var(--color-error-container),
		var(--color-error) 8%
	);
	--color-error-outlined-focus: color-mix(
		in srgb,
		var(--color-error-container),
		var(--color-error) 12%
	);

	--color-success: rgb(0 109 50);
	--color-on-success: rgb(255 255 255);
	--color-on-success-container: rgb(0, 26, 9);
	--color-success-container: rgb(164, 231, 150);
	--color-success-pressed: color-mix(in srgb, var(--color-success), var(--color-on-success) 12%);
	--color-success-hover: color-mix(in srgb, var(--color-success), var(--color-on-success) 8%);
	--color-success-focus: color-mix(in srgb, var(--color-success), var(--color-on-success) 12%);
	--color-success-container-pressed: color-mix(
		in srgb,
		var(--color-success-container),
		var(--color-on-success-container) 12%
	);
	--color-success-container-hover: color-mix(
		in srgb,
		var(--color-success-container),
		var(--color-on-success-container) 8%
	);
	--color-success-container-focus: color-mix(
		in srgb,
		var(--color-success-container),
		var(--color-on-success-container) 12%
	);

	--color-success-outlined: rgb(0 109 50);
	--color-success-outlined-pressed: color-mix(
		in srgb,
		var(--color-success-container),
		var(--color-success) 12%
	);
	--color-success-outlined-hover: color-mix(
		in srgb,
		var(--color-success-container),
		var(--color-success) 8%
	);
	--color-success-outlined-focus: color-mix(
		in srgb,
		var(--color-success-container),
		var(--color-success) 12%
	);

	--color-warning: rgb(123 88 0);
	--color-on-warning: rgb(255 255 255);
	--color-on-warning-container: rgb(37 26 0);
	--color-warning-container: rgb(255 223 151);
	--color-warning-pressed: color-mix(in srgb, var(--color-warning), var(--color-on-warning) 12%);
	--color-warning-hover: color-mix(in srgb, var(--color-warning), var(--color-on-warning) 8%);
	--color-warning-focus: color-mix(in srgb, var(--color-warning), var(--color-on-warning) 12%);
	--color-warning-container-pressed: color-mix(
		in srgb,
		var(--color-warning-container),
		var(--color-on-warning-container) 12%
	);
	--color-warning-container-hover: color-mix(
		in srgb,
		var(--color-warning-container),
		var(--color-on-warning-container) 8%
	);
	--color-warning-container-focus: color-mix(
		in srgb,
		var(--color-warning-container),
		var(--color-on-warning-container) 12%
	);

	--color-warning-outlined: rgb(123 88 0);
	--color-warning-outlined-pressed: color-mix(
		in srgb,
		var(--color-warning-container),
		var(--color-warning) 12%
	);
	--color-warning-outlined-hover: color-mix(
		in srgb,
		var(--color-warning-container),
		var(--color-warning) 8%
	);
	--color-warning-outlined-focus: color-mix(
		in srgb,
		var(--color-warning-container),
		var(--color-warning) 12%
	);

	--color-surface: rgb(248 249 255);
	--color-on-surface: rgb(25 28 32);
	--color-surface-variant: rgb(224 226 236);
	--color-on-surface-variant: rgb(67 71 78);

	--color-default-hover: color-mix(in srgb, var(--color-surface) 8%, var(--color-on-surface));
	--color-default-pressed: color-mix(in srgb, var(--color-surface) 12%, var(--color-on-surface));

	--color-surface-container-lowest: rgb(255 255 255);
	--color-surface-container-low: rgb(242 243 250);
	--color-surface-container: rgb(236 238 244);
	--color-surface-container-high: rgb(231 232 239);
	--color-surface-container-highest: rgb(225 226 233);
	--color-surface-bright: rgb(248 250 255);
	--color-surface-dim: rgb(216 218 224);

	--color-outline: rgba(142, 144, 153, 0.8);

	--color-outline-hover: color-mix(in srgb, var(--color-surface), var(--color-on-surface) 8%);
	--color-outline-pressed: rgba(142, 144, 153, 1);

	--color-outline-variant: rgb(196 198 208);
	--color-inverse-surface: rgb(46 49 54);

	--color-scrim: rgb(0 0 0);
	--color-shadow: rgb(0 0 0);

	--scrollbar-bg-color: var(--color-surface-container-low);
	--scrollbar-thumb-color: var(--color-outline);
}

/* Dark Theme Toggle */
.dark {
	--color-primary: rgb(169 199 255);
	--color-on-primary: rgb(0 50 108);
	--color-primary-container: rgb(0 75 155);
	--color-on-primary-container: rgb(214 227 255);
	--color-primary-pressed: color-mix(in srgb, var(--color-primary), var(--color-on-primary) 12%);
	--color-primary-hover: color-mix(in srgb, var(--color-primary), var(--color-on-primary) 8%);
	--color-primary-focus: color-mix(in srgb, var(--color-primary), var(--color-on-primary) 12%);
	--color-primary-container-pressed: color-mix(
		in srgb,
		var(--color-primary-container),
		var(--color-on-primary-container) 12%
	);
	--color-primary-container-hover: color-mix(
		in srgb,
		var(--color-primary-container),
		var(--color-on-primary-container) 8%
	);
	--color-primary-container-focus: color-mix(
		in srgb,
		var(--color-primary-container),
		var(--color-on-primary-container) 12%
	);

	--color-primary-outlined: rgb(169 199 255);
	--color-primary-outlined-pressed: color-mix(
		in srgb,
		var(--color-primary-container),
		var(--color-primary) 12%
	);
	--color-primary-outlined-hover: color-mix(
		in srgb,
		var(--color-primary-container),
		var(--color-primary) 8%
	);
	--color-primary-outlined-focus: color-mix(
		in srgb,
		var(--color-primary-container),
		var(--color-primary) 12%
	);

	--color-secondary: rgb(190 199 221);
	--color-on-secondary: rgb(40 49 66);
	--color-secondary-container: rgb(56, 64, 80);
	--color-on-secondary-container: rgb(218 226 249);
	--color-secondary-pressed: color-mix(
		in srgb,
		var(--color-secondary),
		var(--color-on-secondary) 12%
	);
	--color-secondary-hover: color-mix(in srgb, var(--color-secondary), var(--color-on-secondary) 8%);
	--color-secondary-focus: color-mix(
		in srgb,
		var(--color-secondary),
		var(--color-on-secondary) 12%
	);
	--color-secondary-container-pressed: color-mix(
		in srgb,
		var(--color-secondary-container),
		var(--color-on-secondary-container) 12%
	);
	--color-secondary-container-hover: color-mix(
		in srgb,
		var(--color-secondary-container),
		var(--color-on-secondary-container) 8%
	);
	--color-secondary-container-focus: color-mix(
		in srgb,
		var(--color-secondary-container),
		var(--color-on-secondary-container) 12%
	);

	--color-secondary-outlined: rgb(190 199 221);
	--color-secondary-outlined-pressed: color-mix(
		in srgb,
		var(--color-secondary-container),
		var(--color-secondary) 12%
	);
	--color-secondary-outlined-hover: color-mix(
		in srgb,
		var(--color-secondary-container),
		var(--color-secondary) 8%
	);
	--color-secondary-outlined-focus: color-mix(
		in srgb,
		var(--color-secondary-container),
		var(--color-secondary) 12%
	);

	--color-tertiary: rgb(221 189 223);
	--color-on-tertiary: rgb(63 41 68);
	--color-tertiary-container: rgb(87 63 92);
	--color-on-tertiary-container: rgb(250 216 252);
	--color-tertiary-pressed: color-mix(in srgb, var(--color-tertiary), var(--color-on-tertiary) 12%);
	--color-tertiary-hover: color-mix(in srgb, var(--color-tertiary), var(--color-on-tertiary) 8%);
	--color-tertiary-focus: color-mix(in srgb, var(--color-tertiary), var(--color-on-tertiary) 12%);
	--color-tertiary-container-pressed: color-mix(
		in srgb,
		var(--color-tertiary-container),
		var(--color-on-tertiary-container) 12%
	);
	--color-tertiary-container-hover: color-mix(
		in srgb,
		var(--color-tertiary-container),
		var(--color-on-tertiary-container) 8%
	);
	--color-tertiary-container-focus: color-mix(
		in srgb,
		var(--color-tertiary-container),
		var(--color-on-tertiary-container) 12%
	);

	--color-tertiary-outlined: rgb(221 189 223);
	--color-tertiary-outlined-pressed: color-mix(
		in srgb,
		var(--color-tertiary-container),
		var(--color-tertiary) 12%
	);
	--color-tertiary-outlined-hover: color-mix(
		in srgb,
		var(--color-tertiary-container),
		var(--color-tertiary) 8%
	);
	--color-tertiary-outlined-focus: color-mix(
		in srgb,
		var(--color-tertiary-container),
		var(--color-tertiary) 12%
	);

	--color-error: rgb(255 180 171);
	--color-on-error: rgb(105 0 5);
	--color-error-container: rgb(147 0 10);
	--color-on-error-container: rgb(255 218 214);
	--color-error-pressed: color-mix(in srgb, var(--color-error), var(--color-on-error) 12%);
	--color-error-hover: color-mix(in srgb, var(--color-error), var(--color-on-error) 8%);
	--color-error-focus: color-mix(in srgb, var(--color-error), var(--color-on-error) 12%);
	--color-error-container-pressed: color-mix(
		in srgb,
		var(--color-error-container),
		var(--color-on-error-container) 12%
	);
	--color-error-container-hover: color-mix(
		in srgb,
		var(--color-error-container),
		var(--color-on-error-container) 8%
	);
	--color-error-container-focus: color-mix(
		in srgb,
		var(--color-error-container),
		var(--color-on-error-container) 12%
	);

	--color-error-outlined: rgb(255 180 171);
	--color-error-outlined-pressed: color-mix(
		in srgb,
		var(--color-error-container),
		var(--color-error) 12%
	);
	--color-error-outlined-hover: color-mix(
		in srgb,
		var(--color-error-container),
		var(--color-error) 8%
	);
	--color-error-outlined-focus: color-mix(
		in srgb,
		var(--color-error-container),
		var(--color-error) 12%
	);

	--color-success: rgb(123 219 140);
	--color-on-success: rgb(0 57 23);
	--color-success-container: rgb(0 83 36);
	--color-on-success-container: rgb(151 248 166);
	--color-success-pressed: color-mix(in srgb, var(--color-success), var(--color-on-success) 12%);
	--color-success-hover: color-mix(in srgb, var(--color-success), var(--color-on-success) 8%);
	--color-success-focus: color-mix(in srgb, var(--color-success), var(--color-on-success) 12%);
	--color-success-container-pressed: color-mix(
		in srgb,
		var(--color-success-container),
		var(--color-on-success-container) 12%
	);
	--color-success-container-hover: color-mix(
		in srgb,
		var(--color-success-container),
		var(--color-on-success-container) 8%
	);
	--color-success-container-focus: color-mix(
		in srgb,
		var(--color-success-container),
		var(--color-on-success-container) 12%
	);

	--color-success-outlined: rgb(123 219 140);
	--color-success-outlined-pressed: color-mix(
		in srgb,
		var(--color-success-container),
		var(--color-success) 12%
	);
	--color-success-outlined-hover: color-mix(
		in srgb,
		var(--color-success-container),
		var(--color-success) 8%
	);
	--color-success-outlined-focus: color-mix(
		in srgb,
		var(--color-success-container),
		var(--color-success) 12%
	);

	--color-warning: rgb(249 190 60);
	--color-on-warning: rgb(65 46 0);
	--color-warning-container: rgb(93 67 0);
	--color-on-warning-container: rgb(255 223 151);
	--color-warning-pressed: color-mix(in srgb, var(--color-warning), var(--color-on-warning) 12%);
	--color-warning-hover: color-mix(in srgb, var(--color-warning), var(--color-on-warning) 8%);
	--color-warning-focus: color-mix(in srgb, var(--color-warning), var(--color-on-warning) 12%);
	--color-warning-container-pressed: color-mix(
		in srgb,
		var(--color-warning-container),
		var(--color-on-warning-container) 12%
	);
	--color-warning-container-hover: color-mix(
		in srgb,
		var(--color-warning-container),
		var(--color-on-warning-container) 8%
	);
	--color-warning-container-focus: color-mix(
		in srgb,
		var(--color-warning-container),
		var(--color-on-warning-container) 12%
	);

	--color-warning-outlined: rgb(249 190 60);
	--color-warning-outlined-pressed: color-mix(
		in srgb,
		var(--color-warning-container),
		var(--color-warning) 12%
	);
	--color-warning-outlined-hover: color-mix(
		in srgb,
		var(--color-warning-container),
		var(--color-warning) 8%
	);
	--color-warning-outlined-focus: color-mix(
		in srgb,
		var(--color-warning-container),
		var(--color-warning) 12%
	);

	--color-surface: rgb(16 19 24);
	--color-on-surface: rgb(225 226 233);
	--color-surface-variant: rgb(67 71 78);
	--color-on-surface-variant: rgb(196 198 208);

	--color-surface-container-lowest: rgb(11 14 19);
	--color-surface-container-low: rgb(25 28 32);
	--color-surface-container: rgb(29 32 36);
	--color-surface-container-high: rgb(42 45 49);
	--color-surface-container-highest: rgb(53 56 61);
	--color-surface-bright: rgb(53 56 61);
	--color-surface-dim: rgb(16 19 24);

	--color-outline: rgba(142, 144, 153, 0.8);
	--color-outline-variant: rgb(67 71 78);
	--color-inverse-surface: rgb(225 226 233);
	--color-inverse-on-surface: rgb(46 49 54);
	--color-inverse-primary: rgb(21 101 192);

	--scrollbar-bg-color: var(--color-surface-container-low);
	--scrollbar-thumb-color: var(--color-outline);
}
